.title {
    font-family: Garamond;
    font-size: 35px;
    color: #110505;
    width: 10px;
    float: left;
    margin-left: 50px;
    margin-top: 19px;
}

.nav {
    width: 1200px;
    height: 40px;
    background-color: #403B3B;
    margin-top: 60px;
    margin-left: 310px;
    float:left;
}

.filter {
    width: 15%;
    height: 500px;
    background-color: orangered;
    margin-top: 150px;
    margin-left: 40px;
    float: left;
    
}

.list {
    width: 65%;
    height: 650px;
    margin-top: 150px;
    margin-left: 150px;
    background-color: forestgreen;
    float: left;
    
}