.title {
    font-family: Garamond;
    font-size: 35px;
    color: #110505;
    width: 1%;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.nav {
    width: 63%;
    height: 40px;
    background-color: #403B3B;
    margin-top: 59px;
    margin-left: 16.3%;
    float:left;
}

.navinfo {
    width: 100%;
    height: 35px;
    background-color: #403B3B;
    
}

.filter {
 
    width: 13%;
    height: 500px;
    background-color: orangered;
    margin-top: 120px;
    margin-left: -1.5%;
    float: left;
}

.list {
    max-width: 100%;
    width: 77%;
    height: 730px;
    background-color: forestgreen;
    margin-top: 53px;
    margin-left: 3.2%;
    float: left;
}

.list2 {
    width: 77%;
    height: 650px;
    background-color: forestgreen;
    margin-top: 35px;
    margin-left: 19%;
    float: left;
}

.navLabel {
    font-family: Garamond;
    color: aliceblue;
}

.searchBox {
    margin-left:50%;
    margin-top: 30px;
}